.App {
  text-align: center;
  background-color: rgb(186, 73, 73);
  color: white;
  height: 100vh;
}

.input__form {
  margin: 1em;
  border: none;
  border-radius: 5px;
  padding: 1em;
}

.label__checkbox {
  margin: 2px;
}

.button__form {
  width:50px;
  height: 50px;
}

.form {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 2em;
  margin-right: 2em;
}