@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;280;496;546&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --smaller-space: 1em;
  --medium-space: 2em;
  --bigger-space: 4em;
  --main-color: hsl(0, 45%, 51%);
  --secondary-color: hsl(0, 42%, 35%);
}